<div class="blog-thumbnail">
	<div class="card-body">
		<div class="row">
			<div class="col-md-2">
				<img src=<%= a.avatar %> alt="Smiley face" width="64" height="64">
			</div>
			<div class="col-md-10">
				<h4 class="card-title">
					<%= link_to blog_path(a.id), class: "card-title" do %>
						<%= a.title %>
					<% end %>
					</h4>
				<h6 class="card-subtitle mb-2 text-muted">Author: <%= a.user.name %> (views: <%= a.view %>)</h6>
				<p class="card-text">
					<%= truncate(a.body) %>	
				</p>
			</div>
		</div>	
  </div>
</div>