<%= render partial: 'flash_message', locals: {messages: flash} %>

<div class="blog-thumbnail" highlight>
	<div class="card-body">
		<h4 class="card-title">
			<%= link_to blog_path(@blog.id), class: "card-title" do %>
				<%= @blog.title %>
			<% end %>
			</h4>
		<h6 class="card-subtitle mb-2 text-muted"><%= @blog.user_id %> (views: <%= @blog.view %>)</h6>
		<p >
			<%= @blog.body %>	
			</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to edit_blog_path(@blog.id), class: 'btn btn-primary' do%>
			<%= fa_icon "pencil" %>
			Edit
		<% end %>

		<%= link_to blog_path(@blog.id), class: 'btn btn-danger', remote: true, method: :delete do %> 
			Delete
		<% end %>
		
		<%= link_to blogs_path, class: 'btn btn-secondary' do %>
		Back
		<% end %>
	</div>
</div>
<div class="row">
<div class="col-md-12">
	comments
	<ul id="comments">
	</ul>
</div>
</div>

<input type='hidden' id="blogId" value="<%= @blog.id %>">