<%= render partial: 'flash_message', locals: {messages: flash} %>

<div class="blog-thumbnail" highlight>
	<div class="card-body">
		<div class="row">
			<div class="col-md-2">
				<img src=<%= @album.avatar %> alt="Smiley face" width="64" height="64">
			</div>
			<div class="col-md-10">
				<h4 class="card-title">
					<%= link_to album_path(@album.id), class: "card-title" do %>
						<%= @album.title %>
					<% end %>
					</h4>
				<h6 class="card-subtitle mb-2 text-muted">Author: <%= @album.user.name %> (total views: <%= @album.views %>)</h6>		
			</div>
		</div>
	</div>
</div>

<div class="row">
		<div class="col-md-9">
			<h3>Photos:</h1>
		</div>
</div>
<div class="row">
		<div class="col-md-9 text-center">
			<% @album.photos.reverse_each do |photo| %>
				<div class="card" style="width: 20rem;">
					<img  src=<%= photo.link%> class="card-img-top" alt="Card image cap">
					<div class="card-body">
						<h4 class="card-title"><%= photo.name%></h4>
						<p class="card-text">Author: <%= @album.user.name %> (views: <%= photo.view %>)</p>
						<%= link_to photo_path(@album.id, photo.id), class: "btn btn-primary" do %>
							View
						<% end %>
					</div>
				  </div>
				<br></br>
			<% end %>	
		</div>
</div>



